# Verification of Smart Contract DogCoin

1. Creation https://testnet.bscscan.com/tx/0xeb6e50ec93765a5d0922470853818362532b9570fbfaf7e1f7ce17308fb00426
2. Explorer https://testnet.bscscan.com/address/0x2a5b073444dd23be56da257990f2393db7d28e53
3. Verification https://testnet.bscscan.com/address/0x2a5b073444dd23be56da257990f2393db7d28e53#code
4. Interaction
